/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import './variables';
@import './header.scss';
@import './form.scss';
@import './buttons.scss';
@import './board.scss';
@import './flash.scss';
@import './task.scss';
@import './comment.scss';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Avenir;
 }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;  
  }

  a {
      text-decoration: none;
      color: $text-base-color;
      font-weight: bold;
  }
}

.container {
  padding: 0 16px;
  width: 100%;
  position: relative;
}