@import 'variables';

$avatar-size: 40px;
$header-padding-y: 8px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $base-bg-color;
  padding: $header-padding-y 16px;
  border-bottom: groove;

  &_pageTitle {
    color: $text-base-color;
    line-height: $avatar-size;
    font-size: 16px;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}


.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;

  &.mini {
      min-width: 100px;

    a {
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.dropdown-content a {
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
